// Common styles of the project

html, body {
    height: 100%;
}

body {
    font-family: $font-base;
    background-color: $body-bg;
    color: $color-base;

    @media (max-width: $breakpoint-md) {
        //overflow-x: hidden;
    }
}

* {
    box-sizing: border-box;
}


.container {
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $breakpoint-sm) {
        max-width: $container-sm;
    }

    @media (min-width: $breakpoint-md) {
        max-width: $container-md;
    }

    @media (min-width: $breakpoint-lg) {
        max-width: $container-lg;
    }

    @media (min-width: $breakpoint-xl) {
        max-width: $container-xl;
    }
}


.highlight {
    color: $color-primary;
}

.strike {
    color: $color-primary;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        border-top: 2px solid $color-primary;
        display: inline-block;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-1px);
        z-index: 2;
    }

    > span {
        color: $color-base;
    }
}


.btn {
    position: relative;
    border: 0;
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px 16px 8px;
    font-size: 1rem;
    font-weight: $f-weight-medium;
    text-decoration: none;
    line-height: 1.5;
    cursor: pointer;
    outline: none !important;
    white-space: normal;
    z-index: 1;
    border-radius: 0.625rem;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media (min-width: $breakpoint-sm) {
        font-size: 1.0625rem;
    }

    &-primary {
        min-width: 200px;
        min-height: 50px;
        background-color: #bd9b5c;
        text-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.14);
        color: #fff;
        box-shadow: 0 0.813rem 1.188rem rgba(0, 0, 0, 0.27);
        transition: background-color .2s ease-in-out;

        &:hover,
        &:focus  {
            color: #fff;
            background-color: lighten($color-primary, 5%);
            box-shadow: none;
            //box-shadow: 0 0.353rem 0.516rem transparentize($color-primary, .35);
        }
    }

    &-link {
        background-color: #f7f7f7;
        border-radius: 0.438rem;
        font-weight: $f-weight-medium;
        font-size: 0.813rem;
        line-height: 1.25em;
        color: $color-primary;
        box-shadow: none;

        @media (max-width: 370px) {
            font-size: 0.75rem;
        }

        &:hover,
        &:focus {
            background-image: linear-gradient(45deg, $color-primary 0%, #ff334c 100%);
            color: #fff;
            text-decoration: none;
            border: 0;
            box-shadow: none;

            #icon-play,
            #icon-news {
                fill: #fff;
            }
        }

        .icon {
            margin-right: 5px;
        }
    }

    &-lg {
        padding: 20px 26px;
    }

    &-wide {
        width: 100%;
    }

    &-sm {
        padding: 5px 13px 6px;
    }

    &:disabled {
        opacity: .7;
    }
}


.icon {
    display: inline-block;
    vertical-align: middle;


    #icon-play,
    #icon-news {
        fill: $color-primary;
    }

    &:hover {
        #icon-play,
        #icon-news {
            fill: #fff;
        }
    }
}

.animation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes bounceInUp {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(0,-20px,0)
    }

    75% {
        transform: translate3d(0,10px,0)
    }

    90% {
        transform: translate3d(0,-5px,0)
    }

    to {
        transform: translateZ(0)
    }
}
.bounceInUp {
    animation-name: bounceInUp;
}
@keyframes bounceOutDown {
    20% {
        transform: translate3d(0,10px,0)
    }

    40%,45% {
        opacity: 1;
        transform: translate3d(0,-20px,0)
    }

    to {
        opacity: 0;
        transform: translate3d(0,2000px,0)
    }
}

.bounceOutDown {
    animation-name: bounceOutDown
}

@keyframes bounceInLeft {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(25px,0,0)
    }

    75% {
        transform: translate3d(-10px,0,0)
    }

    90% {
        transform: translate3d(5px,0,0)
    }

    to {
        transform: none
    }
}
.bounceInLeft {
    animation-name: bounceInLeft
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px,0,0)
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px,0,0)
    }
}
.bounceOutLeft {
    animation-name: bounceOutLeft
}
@keyframes bounceInRight {
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px,0,0)
    }

    75% {
        transform: translate3d(10px,0,0)
    }

    90% {
        transform: translate3d(-5px,0,0)
    }

    to {
        transform: none
    }
}

.bounceInRight {
    animation-name: bounceInRight
}
@keyframes bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px,0,0)
    }

    to {
        opacity: 0;
        transform: translate3d(2000px,0,0)
    }
}

.bounceOutRight {
    animation-name: bounceOutRight
}

@import "etc/flex";
