mixin hero(data)
    include ../advantages/advantages.pug
    include ../cover/cover.pug

    .hero
        h1.hero__title Индивидуальная разработка для МФК и МКК любой сложности
        h2.hero__subtitle Создаём бренды, веб-сайты, отличный дизайн, разрабатываем стратегию продвижения на рынке.

    +cover()
