mixin page_header(data)
    .page-header
        h1.page-header__title Наше портфолио
        h2.page-header__subtitle За 5 лет мы создали более 700 сайтов для МФК и МКК на территории России и СНГ. Вот некоторые из них.
