mixin advantages(data)
    .advantages
        .advantage__item
            .advantage__img
                img(src="%=static=%img/content/5.svg")
            .advantage__text лет
                br
                |успешной
                br
                | работы

        .advantage__item
            .advantage__img
                img(src="%=static=%img/content/700.svg")
            .advantage__text эффективных сайтов для
                br
                |  МФК и МКК

        .advantage__item
            .advantage__img
                img(src="%=static=%img/content/percent.svg")
            .advantage__text минимальная конверсия наших решений
