mixin feature(data)

    .container.feature#feature
        .feature__header
            .title
                | Каким должен быть
                span  правильный сайт для МКК?

        .f-row
            .f-block.f-block--wide.feature__block.feature__block--conversion
                .f-block__title
                    | Не просто сайт, а&nbsp;
                    span полноценный фронт-офис
                .f-block__content
                    ul.feature-list.feature__list
                        li.feature-list__item.dolg
                            .part-base
                                | Возможность отслеживания заёмщиком суммы своего долга и его погашения онлайн для МКК с офлайн выдачей.
                            .part-add
                                strong.highlight –25% невозврата
                        li.feature-list__item.cards
                            .part-base
                                | Возможность выдачи займов на любые карты и широкие возможности личных кабиентов для МКК и МФК с онлайн выдачей.
                            .part-add
                                strong.highlight +40% к повторным займам
                        li.feature-list__item.user
                            .part-base
                                | Ситуативные личные кабинеты, которые подстраиваются под ситуацию конкретного заёмщика
                            .part-add
                                strong.highlight +30% к возврату

            .f-block.f-block--narrow.feature__block.feature__block--view
                .f-block__title Уникальный и умный дизайн
                .f-block__content Все ключевые элементы наших сайтов динамические и ситуативно подстраиваются под нужды конкретного заёмщика в данный момент времени.

        .f-row
            .f-block.f-block--narrow.feature__block
                .f-block__title Полная интеграция с Системами Учёта
                .f-block__content Модули интеграции с основными системами учёта на рынке!

            .f-block.f-block--wide.feature__block.feature__block--text
                .f-block__title
                    | Знаем, как создать
                    strong.highlight эффективный
                    |  сайт
                    span  конкретно под Ваши нужды
                .f-block__content
                    p Не важно, какого типа Ваша Кредитная организация, какие Вы выдаете займы и как устроены Ваши бизнес-процессы.
                    p Наши клиенты получают не просто сайт, а полноценное решение, включающее в себя бренд, личные кабинеты любой сложности, полную стратегию продвижения на рынке и поддержку.
