mixin notification(data)
    .notification.animation
        button.notification__close &times;
        .notification__text
            a(href='http://sitemfo.ru', target='_self')
                span.notification__title Нужно решение проще?
                | Наше готовое решение для МКК запускается «под ключ» всего за 4 дня
                i.icon-arrow
